<h1>List of urls</h1>
<div id="create_new">
  <%= link_to "New", new_url_path %><br /><br />
</div>

<% @url.each do |url| %>
  <div class="link_set">
    <%= url.original  %> | <%= full_short_link(url.shortened) %> | visited <%= url.visits_count %> times <br />
  </div>
<% end %>